# This workflow will build and push docker image to the aws ecr.

name: Build Docker image (ecr)
on:
  workflow_call:
    inputs:
      #
      # Common settings
      #
      app-name:
        description: |
          Application name in human-readable form.
          As it is supposed to be shown in messages
        type: string
        required: false
        default: ${{ github.repository }}
      app-name-slug:
        description: |
          Application name slug and also
          used as the aws ecr repository name
        type: string
        required: true
      #
      # Checkout settings
      #
      git-crypt-unlock:
        description: |
          Perform `git ctypt unlock` after each fresh repository checkout

          NOTE: don't forget to set the following secrets:
                  - GIT_CRYPT_GPG_KEY
                  - GIT_CRYPT_KEY_PASSWORD
        type: boolean
        required: false
        default: false
      checkout-submodules:
        description: |
          'Submodules' mode for 'actions/checkout' action
          '', 'false' - disable submodules support
          'true' - checkout submodules
          'recursive' - checkout submodules recursive
        type: string
        required: false
        default: ''
      #
      # Environment settings
      #
      env:
        description: |
          custom environment variables to set for all jobs in workflow
          as JSON-encoded map:
            { "MY_VAR_1": "awesome value",
              "VARIABLE_2": "not so awesome :)" }

          This input's envs are merged with secrets.env
          This input's envs have lower priority compared than secrets.env
        type: string
        required: false
        default: '{}'
      #
      # AWS settings
      #
      aws-iam-role-to-assume:
        description: |
          The ARN of a IAM role to assume and configure the Actions environment with
          assumed role credentials.
        type: string
        required: true
      aws-region:
        description: |
          The AWS region
        type: string
        required: true
        default: 'eu-central-1'
      #
      # Docker multiarch settings
      #
      docker-qemu-setup:
        description: |
          Setup QEMU static binaries for
          building multi-architecture Docker images with Buildx.
        type: boolean
        required: false
        default: true
      docker-qemu-platforms:
        description: |
          Comma separated string of platforms
          to install (e.g. amd64,arm64,riscv64)
        type: string
        required: false
        default: 'all'
      #
      # Docker images settings
      #
      docker-bake-build-config:
        description: |
          Provide docker's images build configuration
          as JSON-encoded map. You can pass several images
          if you have additional containers for deployment.

          You also need to pass flavor-suffix if you have
          additional container in the same repo
          and you want to push it into one registry but with a different tag.

          Note here, bake_target should be the same as in the docker-bake.hcl file.
          Example:
            { "bake_target": "app",
              "flavor-suffix": "",
              "helm_value": "app.image.tag" },
            { "bake_target": "migration",
              "flavor-suffix": "-migration",
              "helm_value": "app.initContainers.image.tag" }
        required: false
        type: string
        default: '{}'
      docker-bake-file-path:
        description: |
          Path to docker bake file
        required: false
        type: string
        default: './docker-bake.hcl'
      docker-images-build-args:
        description: |
          List of build args (ARG Dockerfile instruction)
          One line one argument, provided in the
          following format.

          build_target_name.args.parameter_name="parameter_value"

          Example:
           app.args.someparam="somevalue"
           migration.args.someparam="somevalue"
        type: string
        required: false
        default: ''
      #
      # Deployment control
      #
      helm-deployment:
        description: |
          Enable deployment to the AWS EKS Cluster
        type: boolean
        required: false
        default: false
      helm-chart-repo:
        description: |
          Helm charts repository name
        type: string
        required: false
        default: 'milaboratory/helm-charts'
      helm-chart-repo-ref:
        description: |
          Helm charts repository branch name
        type: string
        required: false
        default: 'main'
      helm-release-name:
        description: |
          Helm chart release name
        type: string
        required: false
        default: ''
      helm-chart-name:
        description: |
          Helm chart name
        type: string
        required: false
        default: ''
      helm-chart-values-file:
        description: |
          Path to Helm chart values (in YAML format)
        type: string
        required: false
        default: ''
      helm-chart-atomic-upgrade:
        description: |
          if set, upgrade process rolls back changes
          made in case of failed upgrade.
          The --wait flag will be set automatically if --atomic is used

          If --wait flag is set, will wait until all Pods, PVCs, Services,
          and minimum number of Pods of a Deployment, StatefulSet,
          or ReplicaSet are in a ready state before marking
          the release as successful. It will wait for as long as --timeout
        type: boolean
        required: false
        default: true
      helm-chart-wait-timeout:
        description: |
          time to wait for any individual Kubernetes operation
          (like Jobs for hooks) (default 5m0s)
        type: false
        required: false
        default: '5m0s'
      cluster-name:
        description: |
          AWS EKS cluster name
        type: string
        required: false
        default: 'milab-euce1-prod-eks-cluster'
      namespace:
        description: |
          Kubernetes namespace name
        type: string
        required: false
        default: ''
      kubectl-version:
        description: |
          Version of kubectl
        type: string
        required: true
        default: '1.24'
      helm-version:
        description: |
          Version of helm
        type: string
        required: true
        default: '3.10.3'
      #
      # Notifications
      #
      notify-telegram:
        description: |
          Enable Telegram notifications
        required: false
        type: boolean
        default: true
      notify-build:
        description: |
          Enable notifications about build status (build ready/failed)
          Possible values are:
           - 'true' - send all notifications about build status (both success and failed)
           - 'failure-only' - send notification about failed builds, don't notify on success
           - 'success-only' - send notification about success builds, don't notify on failures
           - 'false' - don't send notifications about build results at all.
        required: false
        type: string
        default: 'true'
    secrets:
      env:
        description: |
          custom environment variables to set for all jobs in workflow
          as JSON-encoded map:
            { "MY_VAR_1": "awesome value",
              "VARIABLE_2": "not so awesome :)" }

          This input's envs are merged with inputs.env
          This input's envs have HIGHER priority compared than inputs.env
        required: false
      TELEGRAM_NOTIFICATION_TARGET:
        description: |
          ID of Telegram Channel or User to notify on build results.
        required: false
      TELEGRAM_API_TOKEN:
        description: |
          Telegram Bot API authorization token
        required: false
      GIT_CRYPT_GPG_KEY:
        description: |
          base64-encoded GPG key pair
          (see actions/git/crypt inputs description)
        required: false
      GIT_CRYPT_KEY_PASSWORD:
        description: |
          Password for GPG key
        required: false
jobs:
  init:
    name: Init
    runs-on: ubuntu-latest
    steps:
      - id: context
        uses: milaboratory/github-ci/actions/context@v3
    outputs:
      is-release: ${{ steps.context.outputs.is-release }}

  setup-matrix:
    name: :setup-matrix
    runs-on: ubuntu-latest
    needs:
      - init
    steps:
      - uses: actions/checkout@v3
      - id: setup-matrix-combinations
        uses: milaboratory/github-ci/actions/shell@v3
        env:
          BAKE_FILE: ${{ inputs.docker-bake-file-path }}
          DOCKER_BAKE_BUILD_CONFIG: ${{ inputs.docker-bake-build-config }}
        with:
          dump-stdout: false
          run: |
            MATRIX_PLATFORMS="$(docker buildx bake base --print -f $BAKE_FILE | jq -rc '.target."base".platforms')"
            ghwa_set_output "matrix-platforms" "$MATRIX_PLATFORMS"
            ghwa_set_output "matrix-bake-targets" "{\"include\":[$DOCKER_BAKE_BUILD_CONFIG]}"
    outputs:
      matrix-platforms: ${{ fromJSON(steps.setup-matrix-combinations.outputs.data).matrix-platforms }}
      matrix-bake-targets: ${{ fromJSON(steps.setup-matrix-combinations.outputs.data).matrix-bake-targets }}

  setup-cache:
    name: :setup-cache
    runs-on: ubuntu-latest
    needs:
      - init
      - setup-matrix
    strategy:
      fail-fast: false
      matrix:
        platform: ${{ fromJSON(needs.setup-matrix.outputs.matrix-platforms) }}
    steps:
      - id: context
        uses: milaboratory/github-ci/actions/context@v3

      - uses: milaboratory/github-ci/actions/env@v3
        with:
          inputs: ${{ inputs.env }}
          secrets: ${{ secrets.env }}

      - uses: actions/checkout@v3
        with:
          submodules: ${{ inputs.checkout-submodules }}

      - uses: milaboratory/github-ci/actions/git/crypt@v3
        if: inputs.git-crypt-unlock
        with:
          gpg-key: ${{ secrets.GIT_CRYPT_GPG_KEY }}
          gpg-key-password: ${{ secrets.GIT_CRYPT_KEY_PASSWORD }}

      - uses: milaboratory/github-ci/actions/shell@v3
        with:
          dump-stdout: false
          run: |
            platform=${{ matrix.platform }}
            ghwa_set_env "PLATFORM_PAIR" "${platform//\//-}"

      - uses: actions/checkout@v3
      - uses: docker/setup-qemu-action@v2
      - uses: docker/setup-buildx-action@v2
      - uses: docker/bake-action@v2
        env:
          APP_NAME: ${{ inputs.app-name-slug }}
        with:
          pull: true
          files: |
            ${{ inputs.docker-bake-file-path }}
          set: |
            *.platform=${{ matrix.platform }}
            *.cache-from=type=gha,scope=${{ env.APP_NAME }}-${{ env.PLATFORM_PAIR }}
            *.cache-to=type=gha,scope=${{ env.APP_NAME }}-${{ env.PLATFORM_PAIR }},mode=max

  build:
    name: :build
    runs-on: [ubuntu-latest]
    needs:
      - init
      - setup-matrix
      - setup-cache
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.setup-matrix.outputs.matrix-bake-targets) }}
    steps:
      - id: context
        uses: milaboratory/github-ci/actions/context@v3

      - uses: milaboratory/github-ci/actions/env@v3
        with:
          inputs: ${{ inputs.env }}
          secrets: ${{ secrets.env }}

      - uses: actions/checkout@v3
        with:
          submodules: ${{ inputs.checkout-submodules }}

      - uses: milaboratory/github-ci/actions/git/crypt@v3
        if: inputs.git-crypt-unlock
        with:
          gpg-key: ${{ secrets.GIT_CRYPT_GPG_KEY }}
          gpg-key-password: ${{ secrets.GIT_CRYPT_KEY_PASSWORD }}

      - uses: milaboratory/github-ci/actions/shell@v3
        env:
          APP_NAME: ${{ inputs.app-name-slug }}
          BAKE_FILE: ${{ inputs.docker-bake-file-path }}
        with:
          dump-stdout: false
          run: |
            cfroms=
            while read -r platform; do
              if [ -n "$cfroms" ]; then cfroms="${cfroms}\n"; fi
              cfroms="${cfroms}*.cache-from=type=gha,scope=${APP_NAME}-${platform//\//-}"
            done < <(docker buildx bake base --print -f $BAKE_FILE | jq -r '.target."base".platforms[]')
            CACHE_FROMS=$(echo -e "$cfroms")
            ghwa_set_env "CACHE_FROMS" "$CACHE_FROMS"

      - uses: docker/setup-qemu-action@v2
      - uses: docker/setup-buildx-action@v2

      - uses: aws-actions/configure-aws-credentials@v1
        if: github.event_name != 'pull_request'
        with:
          role-to-assume: ${{ inputs.aws-iam-role-to-assume }}
          aws-region: ${{ inputs.aws-region }}

      - id: login-ecr
        if: github.event_name != 'pull_request'
        uses: aws-actions/amazon-ecr-login@v1

      - id: transform-version
        uses: milaboratory/github-ci/actions/shell@v3
        env:
          CURRENT_VERSION: ${{ steps.context.outputs.current-version }}
          CURRENT_SHA: ${{ steps.context.outputs.current-version-sha }}
          IS_RELEASE: ${{ steps.context.outputs.is-release }}
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: ${{ inputs.app-name-slug }}
        with:
          dump-stdout: false
          run: |
            TRIMMED_SHA="${CURRENT_SHA:0:8}"
            TRIMMED_VERSION=$(echo "$CURRENT_VERSION" | grep -E -o "^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)-?(0|[1-9]\d*)*")

            ghwa_set_output image "${REGISTRY}/${REPOSITORY}"

            if [ "$IS_RELEASE" == "true" ];then
              ghwa_set_output transformed_version "${TRIMMED_VERSION}"
            else
              ghwa_set_output transformed_version "${TRIMMED_VERSION}-${TRIMMED_SHA}"
            fi

      - id: image-metadata
        uses: docker/metadata-action@v3
        with:
          images: |
            ${{ fromJSON( steps.transform-version.outputs.data ).image }}
          flavor: |
            suffix=${{ matrix.flavor-suffix }}
          labels: |
            org.opencontainers.image.vendor=MiLaboratories
          tags: |
            type=raw,value=${{ fromJSON( steps.transform-version.outputs.data ).transformed_version }}

      - id: build-push
        uses: docker/bake-action@v2
        with:
          targets: ${{ matrix.bake_target }}
          push: true
          files: |
            ${{ inputs.docker-bake-file-path }}
            ${{ steps.image-metadata.outputs.bake-file }}
          set: |
            ${{ env.CACHE_FROMS }}
            ${{ inputs.docker-images-build-args }}

      - id: pushed-tags
        uses: milaboratory/github-ci/actions/strings/json-list@v3
        with:
          input: ${{ steps.image-metadata.outputs.tags }}

      - id: notify-build
        if: always()
          && inputs.notify-telegram
          && inputs.notify-build != 'false'
          && steps.build-push.conclusion != 'cancelled'
        uses: milaboratory/github-ci/blocks/notify/build@v3
        with:
          telegram-target: ${{ secrets.TELEGRAM_NOTIFICATION_TARGET }}
          telegram-token: ${{ secrets.TELEGRAM_API_TOKEN }}
          build-status: |
            ${{ steps.build-push.conclusion }}
          product-name: ${{ inputs.app-name }}
          docker-images: ${{ steps.pushed-tags.outputs.result }}

  deployment:
    if: inputs.helm-deployment
    name: :deployment
    runs-on: [ self-hosted ]
    needs:
      - build
      - setup-matrix
    steps:
      - id: context
        uses: milaboratory/github-ci/actions/context@v3

      - uses: milaboratory/github-ci/actions/env@v3
        with:
          inputs: ${{ inputs.env }}
          secrets: ${{ secrets.env }}

      - uses: actions/checkout@v3
        with:
          repository: ${{ inputs.helm-chart-repo }}
          ref: ${{ inputs.helm-chart-repo-ref }}

      - id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - uses: milaboratory/github-ci/actions/shell@v3
        env:
          CURRENT_VERSION: ${{ steps.context.outputs.current-version }}
          CURRENT_SHA: ${{ steps.context.outputs.current-version-sha }}
          IS_RELEASE: ${{ steps.context.outputs.is-release }}
          MATRIX_BAKE_TARGETS: ${{ needs.setup-matrix.outputs.matrix-bake-targets }}
        with:
          dump-stdout: false
          run: |
            TRIMMED_SHA="${CURRENT_SHA:0:8}"
            TRIMMED_VERSION=$(echo "$CURRENT_VERSION" | grep -E -o "^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)-?(0|[1-9]\d*)*")

            if [ "$IS_RELEASE" == "true" ];then
              DEPLOYMENT_VERSION="${TRIMMED_VERSION}"
            else
              DEPLOYMENT_VERSION="${TRIMMED_VERSION}-${TRIMMED_SHA}"
            fi

            image_tags=()
            for row in $(echo "$MATRIX_BAKE_TARGETS" | jq -r '.include[] | @base64'); do
              _jq() {
                echo $row | base64 --decode | jq -r $1
            }

              IMAGE_FLAVOR_SUFFIX=$(_jq '."flavor-suffix"')
              HELM_VALUE=$(_jq '."helm_value"')
              image_tags+="$HELM_VALUE=$DEPLOYMENT_VERSION$IMAGE_FLAVOR_SUFFIX\n"
            done
            IMAGE_TAGS=$(echo -e "$image_tags")
            ghwa_set_env "IMAGE_TAGS" "$IMAGE_TAGS"

      - id: helm-deployment
        uses: milaboratory/github-ci/actions/deployment@docker-hcl-deployment
        with:
          kubectl-version: ${{ inputs.kubectl-version }}
          helm-version: ${{ inputs.helm-version }}
          helm-release-name: ${{ inputs.helm-release-name }}
          helm-chart-registry: ${{ steps.login-ecr.outputs.registry }}
          helm-chart-name: ${{ inputs.helm-chart-name }}
          helm-chart-values-file: ${{ inputs.helm-chart-values-file }}
          helm-chart-atomic-upgrade: ${{ inputs.helm-chart-atomic-upgrade }}
          helm-chart-wait-timeout: ${{ inputs.helm-chart-wait-timeout }}
          cluster-name: ${{ inputs.cluster-name }}
          namespace: ${{ inputs.namespace }}
          helm-chart-values: |
            ${{ env.IMAGE_TAGS }}